body {
    background: rgb(32, 32, 32);
    font-family: Arial;
}

h1 { 
    color: rgb(255, 255, 255);
    text-align: center;
}

table, tr, td {
  border: 2px solid black; 
  border-collapse: collapse;
  background-color: rgb(16, 16, 16);
}

.tier {
  width: 50px;
  font-size: xx-large;
  text-align: center;
}

.image {
    padding: 0px;
    height: 110px;
    vertical-align: middle;
}

.line {
  height:4px;
  border-width:0;
  color:black;
  background-color:black;
}
